* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-image: linear-gradient(79deg, #f4bb47, #e31837 68%, #f7944d);
  padding: 0 16px;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection {
  color: #000;
  background: #fff;
}
nav {
  /* position: fixed; */
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
  align-items: center;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
}
.menu ul li button {
  text-decoration: none;
  background-color: #1b1b1b ;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li button:hover {
  background: #fff;
  color: black;
}
.img {
  /* background: url('') no-repeat; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.search bar input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 16px;
  margin-right: 16px;
  font-size: 17px;
}
.search bar input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 16px;
  margin-right: 16px;
  font-size: 17px;
}

.search bar input[type='text'] {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14 px;
}
.search bar input[type='text'] {
  border: 10px solid #ccc;
}

.mainBody {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filteredCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.activityCards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px 10px 50px;
}

.activityCards > * {
  flex: 1 1 33%;
}

.activity {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  /* width: 240px; */
  margin: 16px;
  float: left;
}
.activity h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.activity p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.cards {
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  margin: 5px;
  flex-wrap: wrap;
  text-align: center;
  transition: transform 400ms ease;
  transition: border-color 0.1s;
  height: 50%;
  width: 50%;
}

.cards:hover {
  border-color: #646cff;
  transform: scale(1.03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content p {
  font-size: 16px;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color:hsla(0, 77%, 52%, 0.995);
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color:hsla(0, 77%, 52%, 0.995);;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: hsla(0, 77%, 52%, 0.995);;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

.MUIcards {
  /*margin: 15px;*/
  width:250px;
  height: 250px;margin: 5px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
 /* min-width: 250;*/
  /*max-width: 350;*/
  position: relative;
}

.MUIcards > * {
  flex: 1 1 33%;
}

.MUIcards:hover {
  border: 8px solid orangered;
  /*background-color: red;*/
  opacity: 100%;
  position:relative;
  
}
.LoginRegister {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #f4bb47, #e31837 68%, #f7944d);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    width: 700px;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

/* button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
} */

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}


.dropbtn {
  background-color: black;
  padding: 16px;
  font-size: 25px;
  color: white;
  width: 100%;
  display: block;
  border: 4px solid white;
  border-color: black;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5px) saturate(180%);
  display: flex;
  align-items: center;
  border-radius: 60px;
 
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor : pointer;
  width: 50%;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.weatherRecTitle {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}