body {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

code {
  font-family: "Libre Baskerville", serif;
}

#weather-widget-card {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  border-radius: 5px;
  width: 15rem;
  justify-content: center;
  text-align: center;
  padding: 15px;
}
