body {
  justify-content: center;
  align-items: center;
  /* background: url(https://img.freepik.com/premium-vector/snow-mountain-winter-landscape-background_281368-419.jpg?w=2000); */
}


header{
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: space-around;
}
#main-title {
  display: flex;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin: 0
}
#subtitle {
  display: flex;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: black;
  text-align: center;
  margin: 0px 30px;
}
