body {
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: rgb(255, 255, 255)
}

header{
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: space-around;
  background-color: black;
}

header > * {
  
}

#main-title {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 0
}
#subtitle {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0px 30px;
}

.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activityCards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px 10px 50px;
}

.activityCards > * {
  flex: 1 1 33%;
}

.cards {
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  margin: 5px;
  flex-wrap: wrap;
  text-align: center;
  transition: transform 400ms ease;
  transition: border-color 0.1s;
  height: 50%;
  width: 50%;

}

.cards:hover {
  border-color: #646cff;
  transform: scale(1.03);
}